body{
    background-color: rgb(32, 31, 31);
}

div {
    text-align: center;
}

h1{
    color: white;
    font-size: 5em;
    color :rgb(123, 152, 208)
}
button{
    height: 2.5em;
    width: 5.5em;
    border: none;
    color: whitesmoke;
    font-weight: bold;
}

button:hover{
    cursor: pointer;
}

.start-btn{
    background-color: rgb(53, 103, 2);
}
.pause-btn {
    background-color: rgb(123, 152, 208);
}
.stop-btn {
    background-color: rgb(116, 4, 4);
}